<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fizzi.Applications.ChallongeVisualization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Fizzi.Applications.ChallongeVisualization.Properties.Settings>
      <setting name="challonge_apikey" serializeAs="String">
        <value />
      </setting>
      <setting name="challonge_subdomain" serializeAs="String">
        <value />
      </setting>
      <setting name="challonge_save" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overlayPath" serializeAs="String">
        <value>overlays</value>
      </setting>
      <setting name="enableScoreboard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showInstructions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="roundDisplayType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="outputFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="smashgg_apitoken" serializeAs="String">
        <value />
      </setting>
      <setting name="smashgg_slug" serializeAs="String">
        <value />
      </setting>
      <setting name="smashgg_save" serializeAs="String">
        <value>False</value>
      </setting>
    </Fizzi.Applications.ChallongeVisualization.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
